body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: rgb(26, 112, 133);
    color: beige;
    padding: 10px;
    border-radius: 10px;
}

div {
    background-color: rgb(79, 187, 180);
    width: 50vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.red {
    background-color: red;
}